@import url('https://fonts.googleapis.com/css?family=Imprima|Montserrat:300,400,500&display=swap');
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



body{
    header{
        .flex-container{
            display: inline-block;  
            nav{
                background: #2A2A2A;
                position: fixed;
                margin: auto;
                height: 100vh;
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .nav-logo{
                    img{
                        width: 100px;
                        padding: 20px 50px 20px 50px;
                    }
                }             

                ul.nav-items{
                    list-style-type: none;
                    padding-left: 30px;
                    li{
                        padding: 10px;
                        a{
                            font-family: "Montserrat";
                            font-weight: 200;
                            font-size: 14px;
                            text-decoration: none;
                            color: white;                          
                        }
                    }
                }

                ul.social-links{
                    list-style-type: none;
                    width: 120px;
                    padding-left: 40px;
                    li{
                        display: inline;
                        a{

                            img{
                                fill: red;
                                width: 15px;
                                padding:5px;
                                background: #8E8E8E;
                                border-radius: 6px;
                            }
                        }
                    }
                }

                .copyright{
                    font-family: "Montserrat";
                    font-weight: 500;
                    color: white;
                    padding-left: 40px;
                    font-size: 14px;

                    p{
                        font-family: "Montserrat";
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
            .banner{
                
                color: white;
                background: url(images/header.png) right no-repeat;
                background-size: 1105px;
                text-align: center;
                display: inline-block;
                height: 100vh;
                width: calc(100vw - 200px);
                padding-left: 200px;

                .logo{
                    // float: right;
                    position: relative;
                    text-align: right;
                    // padding: 50px;
                    img{
                        width: 50px;
                        padding: 50px;
                    }
                }

                .text{
                    
                    padding-top:5%;
                    padding-bottom:5%;
                    
                    width: 45%;
                    margin: auto;

                    .typed-cursor {
                        font-size: 40px;
                    }
                    
                        h1{
                            display: inline;
                            font-family: "Montserrat";
                            font-weight: 400;
                            font-size: 40px;
                        }
                
                    hr{
                        margin-bottom:28px;
                    }

                    h2{
                        font-family: "Imprima";
                        font-weight: 400;
                        
                    }
                }
            }
        }
    }
}

