@import url("https://fonts.googleapis.com/css?family=Imprima|Montserrat:300,400,500&display=swap");
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body h1 {
  font-family: "Montserrat",sans-serif;
  font-size: 40px;
}

body h2 {
  font-family: "Imprima",sans-serif;
  font-size: 20px;
}

body hr {
  background: #D6D6D6;
}

.scroll-downs {
  width: 34px;
  height: 55px;
  margin: 10px auto;
}

.mousey {
  width: 3px;
  padding: 10px 15px 10px 3px;
  height: 35px;
  border: 3px solid #D6D6D6;
  border-radius: 25px;
  opacity: 0.75;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroller {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #D6D6D6;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

body header {
  width: auto;
  color: #D6D6D6;
}

body header nav {
  background: #2A2A2A;
  width: 200px;
  position: fixed;
  height: 100%;
  z-index: 999;
}

body header nav .nav-logo {
  margin: 50px auto 0px;
  padding: 0;
}

body header nav .nav-logo img {
  width: 125px;
}

body header nav ul.nav-items {
  list-style-type: none;
  width: 125px;
  margin: 50px auto 0px;
  padding: 0;
}

body header nav ul.nav-items li {
  padding: 5px 0 5px 0;
}

body header nav ul.nav-items li a {
  color: inherit;
}

body header nav .copyright {
  width: 125px;
  margin: 50px auto 20px;
  padding: 0;
}

body header nav ul.social-links {
  list-style-type: none;
  width: 125px;
  margin: 0px auto 50px;
  padding: 0;
}

body header nav ul.social-links li {
  display: inline-block;
  padding: 0.5px;
}

body header nav ul.social-links li a img {
  width: 25px;
  padding: 5px;
  background: #8E8E8E;
  border-radius: 6px;
}

body header .banner {
  height: 100vh;
  background: url(images/header.png) no-repeat center;
  background-size: cover;
  text-align: center;
  padding-left: 200px;
}

body header .banner .logo img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  margin: 25px;
}

body header .banner .text {
  width: 50%;
  margin: 10px auto;
}

body header .banner .text h1 {
  display: inline;
}

body header .banner .text h2 {
  margin: 20px auto;
}

body header .banner .text hr {
  margin: 0;
}

body header .banner .text .typed-cursor {
  font-size: 40px;
}

body section {
  padding-left: 200px;
}

body section ul.grid-nav {
  text-align: center;
  width: auto;
  margin: auto 0px;
  padding: 20px;
}

body section ul.grid-nav li {
  padding: 0px 50px;
  display: inline-block;
}

body section .collage {
  width: 1029px;
  margin: auto;
}

body section .collage ul {
  list-style-type: none;
  padding: 0;
}

body section .collage ul li {
  display: inline-block;
  padding: 0.5px;
  width: 340px;
  height: 340px;
}

body section .collage ul li a img {
  width: 340px;
}
/*# sourceMappingURL=style.css.map */