@import url('https://fonts.googleapis.com/css?family=Imprima|Montserrat:300,400,500&display=swap');

ul {
    list-style-type: none;
}

section {
    padding-left: 200px;
    height: 100vh;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Imprima", sans-serif;
}

body {
    .show {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        /* Stay in place */
        background-color: #2A2A2A;
        color: #D6D6D6;
        height: 100vh;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .copyright {
            margin: 25px auto;
            width: 200px;
            padding-left: 25px;
        }

        .nav-logo {
            margin: 25px auto;
            width: 200px;
            padding-left: 25px;

            a {
                img {
                    width: 150px;
                }
            }

        }

        .openbtn:hover {
            background-color: #444;
        }

        ul.nav-items {
            padding-left: 30px;

            li {
                padding: 5px 0px;

                a {
                    font-size: 20px;
                    color: #D6D6D6;
                }
            }

        }

        ul.social-links {
            margin: 25px auto;
            width: 150px;
            padding-left: 0px;

            li {
                display: inline-block;

                a {
                    img {
                        width: 25px;
                        padding: 6px;
                        border-radius: 4px;
                        background: #D6D6D6;
                    }
                }
            }
        }

    }

    .home {
        background: url("/css/images/header.png") no-repeat center;
    }

    .portfolio {
        background: url("/css/images/portfolio_header.png") no-repeat center;

        .text {
            height: 142px;
            width: 700px;
            background: rgba(255, 255, 255, 0.7);
            padding: 20px 100px 20px 20px;
            margin-left: 20px !important;
            color: #2A2A2A;
            text-align: left !important;

        }
    }

    .contact-header{
        background: url("/css/images/contact_header.png") no-repeat center;

    }

    .item-preview-themescape{
        background: url('../css/images/themescape_header.png') no-repeat center;
        
        .text {
            h1{
                padding: 26px 0px;
            }  
        } 
    }
    .item-preview-myportfolio{
        background: url('../css/images/myportfoliodesign_header.png') no-repeat center;
        .text {
            h1{
                padding: 26px 0px;
            }  
        } 
    }
    
    #brief{
        .container{
            padding: 112px;
            display: flex;
            justify-content: space-evenly;
            .left,.right{
                padding:0px 30px;
            }

            .left{
                text-align: center;
                .info{
                    padding-top:20px;
                    text-align: right;
                }
            }
            
        }
        
    }

    section#banner {
        hr {
            margin-top: 0;
            background: #D6D6D6;
        }

        color: #D6D6D6;

        background-size: cover;

        margin: 0px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .logo {
            text-align: right;
            margin: 0px 30px;

            img {
                width: 50px;
            }
        }

        .text {
            // width: 500px;
            margin: 0px auto;

            #typed {
                display: inline;
            }

            .typed-cursor {
                font-size: 40px;
            }
        }
    }

    section#collection {
        padding-top: 10px;

        ul.collection-nav {
            padding: 0;
            display: flex;
            justify-content: center;
            margin: 20px;

            li {
                padding: 0px 50px;

                .btn {

                    color: #2A2A2A;
                    text-decoration: none;
                    border: none;
                    // outline: none;
                    padding: 12px 16px;
                    background-color: #D6D6D6;
                    cursor: pointer;
                    width: 120px;
                }

                .btn.active {
                    background-color: #2a2a2a;
                    color: #D6D6D6;
                }

                .btn:hover {
                    background-color: #555555;
                    color: #D6D6D6;
                }
            }
        }


        ul.container {
            padding: 0;
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;

            .show {
                display: block;
            }

            li {
                padding: 10px;
                display: none;

                a {

                    img {
                        width: 500px;
                    }
                }
            }
        }
    }

    section#contact{
        .btn{
            width: 200px;
            background: transparent;
            color: #2A2A2A;
            border-color: #2A2A2A;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 20px!important;
            margin-right: 20px!important;
        }

        .send{
            background: #2a2a2a;
            color: #d6d6d6;
        }

        .btn:hover{
            background: #444444;
            color: #D6D6D6;
        }
        padding-top:50px;
        padding-bottom: 50px;

        .text-container{
            margin-bottom:50px;
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 18px;
            }
        }

        .contact-container{
            width: 1000px;
            margin: auto;
            text-align: center;

            input,textarea,a{
                margin: 10px 0px;
            }

            textarea{
                height: 250px;
            }
        }
       
    }
}


//=====================================================//
//                       Dont change                   //
//=====================================================// 

.scroll-downs-dark {
    // position: absolute;
    // top: 80%;
    // left:62%;
    // bottom: 0;
    // left: 0%;

    width: 34px;
    height: 55px;
    margin: 20px auto;

    .mousey {
        width: 3px;
        padding: 10px 15px 10px 3px;
        height: 35px;
        border: 3px solid #2A2A2A;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;

        .scroller {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: #2A2A2A;
            animation-name: scroll;
            animation-duration: 2.2s;
            animation-iteration-count: infinite;
        }

    }
}

.scroll-downs-light {
    // position: absolute;
    // top: 80%;
    // left:62%;
    // bottom: 0;
    // left: 0%;

    width: 34px;
    height: 55px;
    margin: 20px auto;

    .mousey {
        width: 3px;
        padding: 10px 15px 10px 3px;
        height: 35px;
        border: 3px solid #D6D6D6;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }


    .scroller {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: #D6D6D6;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-iteration-count: infinite;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(25px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



::-webkit-scrollbar {
    // width: 8px;
    // background: transparent;
    display: none;
}

// /* Track */
// ::-webkit-scrollbar-track {
//     // box-shadow: inset 0 0 5px transparent; 
//     border-radius: 8px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {

//     background: #2A2A2A;
//     border-radius: 8px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #3b3b3b;
// }