@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
@import url('reset.css');
$Saphire-1-hex: #023059;
$Saphire-2-hex: #1B8EF2;
$Saphire-3-hex: #79B4D9;
$Saphire-4-hex: #4BF2E2;
$Saphire-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$Saphire-1-rgba: rgba(1, 48, 89, 1);
$Saphire-2-rgba: rgba(26, 141, 242, 1);
$Saphire-3-rgba: rgba(121, 180, 216, 1);
$Saphire-4-rgba: rgba(75, 242, 225, 1);
$Saphire-5-rgba: rgba(242, 242, 242, 1);

html {
    body {
        background-color: $Saphire-1-rgba;
        text-align: center;

        div {
           width: 100%;
           position: absolute;
           top:50%;
           transform: translateY(-50%);
           display: flex;
           flex-direction: column;
           justify-content: space-evenly;
            h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 160px;
                color: #1B8EF2;
            }
            h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                color: #1B8EF2;
            }
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                color: #F2F2F2;
            }
        }


    }
}