@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap');
@import url('reset.css');
$Saphire-1-hex: #023059;
$Saphire-2-hex: #1B8EF2;
$Saphire-3-hex: #79B4D9;
$Saphire-4-hex: #4BF2E2;
$Saphire-5-hex: #F2F2F2;

/* Color Theme Swatches in RGBA */
$Saphire-1-rgba: rgba(1, 48, 89, 1);
$Saphire-2-rgba: rgba(26, 141, 242, 1);
$Saphire-3-rgba: rgba(121, 180, 216, 1);
$Saphire-4-rgba: rgba(75, 242, 225, 1);
$Saphire-5-rgba: rgba(242, 242, 242, 1);


html {
    body {
        text-align: center;
        div#background{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $Saphire-1-rgba;
        }
        div.container {
            width: 100%;
            margin: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            div.error {
                width: 100%;
                margin: auto;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
    
                h1 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 80px;
                    color: $Saphire-2-rgba;
                }
    
                h2 {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    color: $Saphire-2-rgba;
                }
    
                p {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    color: $Saphire-5-rgba;
                }
            }
    

            h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                color: $Saphire-2-rgba;
            }

            h2 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                color: $Saphire-5-rgba;
            }

            ul {
                padding: 0;
                display: inline-flex;
                justify-content: space-evenly;
                width: 1014px;

                li {
                    padding: 12px 48px;
                    background: $Saphire-2-rgba;
                    border-radius: 6px;
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: $Saphire-5-rgba;
                    font-family: 'Montserrat';
                    text-transform: uppercase;
                    }
                }
            }
        }

        footer {
            position: absolute;
            width: 100%;
            margin: auto;
            bottom: 0;
            padding: 2%;

            p {
                font-family: 'Montserrat';
                font-size: 8px;
                color: $Saphire-5-rgba;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }

    html {
        body {
            div.container {

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 20px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 10%;
                    width: auto;

                    li {
                        margin: 5%;
                        padding: 5%;

                    }
                }
            }
        }
    }
}